*{ /*com esse * ele diz que todos os box-sizing serão do mesmo tamanho*/
    box-sizing: border-box;
}

html, 
body {
    height: 100%;
    margin: 0;    
}

body{
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

.admin__wrapper{
    height: 100%;
    flex-direction: column;
    display: flex;
}

.header__main{
    background: black;
    padding: 1rem;
    
    -webkit-box-shadow: 9px 17px 65px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 9px 17px 65px 0px rgba(0,0,0,0.75);
    box-shadow: 9px 17px 65px 0px rgba(0,0,0,0.75);         
}

.header__main .logo{
    width: 180px;
}

.main__wrapper{
    flex-direction: column;
    justify-content: space-around;
    flex-grow: 1;
    display: flex;
}

.form-login__wrapper{
    
    max-width: 500px;
    background: white;
    border: 1px #000000 solid;
    padding: 1rem;
    margin: 1rem;
    border-radius: 0.5rem;
}

.color-login{
    color: #0f62ac;
}

.form-group{
    margin-bottom: 1rem;
}

.form-group label{
    display: block;    
}

.form-group input{
    border-radius: .5rem;
    margin-top: 0.2rem;
    padding: 0.8rem;
    width: 100%;
}

.form-botton{
    background-color: #0f62ac;
    color: white;
    padding: .7rem;
    border: 0;
    text-align: center;
    border-radius: 20px;
}

@media (min-width: 900px){/*nesse caso quando você utiliza o media você esta colocando um IF se a tela tiver no min 900px será utilizada essa regra, caso seja maior vai mander a regra anterior do admin__wrapper*/
    .admin__wrapper{
        flex-direction: row;
    }

    .header__main{
        align-items: center;
        display: flex;
    }

    .main__wrapper{
        align-items: center;
    }

    .form-login__wrapper{
        width: 600px;
    }
}